.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap{
    width: 100%;
}

.rodapePrincipal-navMap-list{
    height: 255px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* quiebra la columna segun la altura definida (height) y rellena el espacio sobrante*/
    
}