.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 90px;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap{
    width: 100%;
}

.rodapePrincipal-navMap-list{
    height: 255px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* quiebra la columna segun la altura definida (height) y rellena el espacio sobrante*/
    
}
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link{
    width: 23%;
    display: flex;
}

.videoSobre{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-grow: 2;
}


.videoSobre-sobre-list{
    /* justify-content: space-between; */
    flex-grow: 2;
}
/* breakoput */

/* mobile */

@media screen and (min-width: 360px) and (max-width: 575px){
    .headerPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos{
        flex-direction: column;
        width: 100%;
    }

    .contenidoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
        margin: 0;
        justify-content: flex-start;
    }

    .rodapePrincipal-patrocinadores-list li{
        margin-right: 15px;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .rodapePrincipal-contatoForm-legend{
        text-align: center;
    }

    .headerPrincipal-nav-link-app{
        order: -1;
    }
}